/* Reset */
    h1, h2, p {
        padding: 0;
        margin: 0;
    }

/* Base */
    header {
        background-color: pink;
        padding: 10px;
        color: black;
        text-align: center;
    }

    nav a {
        color: inherit;
        margin: 0;
        padding: 10px 25px;
    }

    nav a:hover {
        color: cornflowerblue;
    }

    .error {
        background-color: pink;
        padding: 10px;
        color: red;
        text-align: center;
    }

    footer {
        background-color: pink;
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 10px;
        color: black;
        text-align: center;
    }

/* Rankings */

    .rankings {
        padding: 10px;
    }

    .rankings ul {
        list-style-type: none;
    }

    .elo {
        float: left;
        width: 50%;
        text-align: right;
        font-size: large;
    }

    .player {
        float: left;
        width: 50%;
        text-align: left;
        font-size: large;
    }

    .inner {
        display: inline-block;
        padding: 5px;
    }

/* Input */

    .form {
        padding: 20px;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown:hover .dropdown-content {display: block;}