/* Reset */
    html, body, h1, h2, p, ul {
        padding: 0;
        margin: 0;
    }

/* Base */

    header {
        background-color: pink;
        padding: 10px;
        color: black;
        text-align: center;
    }

    nav a {
        color: inherit;
        margin: 0;
        padding: 10px 25px;
        &:hover {
            color: cornflowerblue;
        }
    }

    .error {
        background-color: pink;
        padding: 10px;
        color: red;
        text-align: center;
    }

    .container {
        /* padding-top: 10px; */
        padding-bottom: 50px;
    }

    footer {
        background-color: pink;
        bottom: 0;
        width: 100%;
        padding: 10px;
        color: black;
        text-align: center;
        position: fixed;
    }

    .padder {
        padding: 10px;
    }

    /* html::-webkit-scrollbar {
        width: 20px;
    } */

/* Rankings */

    ul {
        list-style-type: none;
    }

    .elo {
        float: left;
        width: 50%;
        text-align: right;
        font-size: large;
    }

    .player {
        float: left;
        width: 50%;
        text-align: left;
        font-size: large;
    }

    .inner {
        display: inline-block;
        padding: 5px;
    }

/* Input */

    .form {
        margin: auto;
        width: fit-content;
        text-align: center;
        padding: 10px;
    }

    button {
        margin: auto;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown:hover .dropdown-content {display: block;}

/* Matches */

    h2 {
        text-align: center;
    }

    .pos {
        color: green;
    }

    .neg {
        color: red;
    }

    table {
        text-align: center;
        margin: auto;
        width: 50%;
    }

    #date {
        width: 25%;
    }

    #note {
        width: 25%;
    }