<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>tabletennis</title>
    </head>

    <body>
        <header>
            <h1>CCM Table Tennis Rankings</h1>
    
            <nav>
                <a href="/rankings">rankings</a>
                <a href="/player">player</a>
                <a href="/match">match</a>
            </nav>
        </header>

        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="message">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
    </body>
</html>