<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>tabletennis</title>
    </head>

    <body>
        <header>
            <h1>CCM Table Tennis Rankings</h1>
    
            <nav>
                <a href="/rankings">rankings</a>
                <a href="/input">input</a>
                <a href="/matches">matches</a>
            </nav>
            
            <div>
                {% for message in get_flashed_messages() %}
                    <p class="error">ERROR: {{ message }}</p>
                {% endfor %}
            </div>
        </header>

        <div class="container">
            {% block content %} {% endblock %}
        </div>

        <footer>
            <p>Made by Aryan Singh</p>
        </footer>
    </body>
</html>

{% macro match_table() %}
    <table>
        <tr>
            <th id="date">date</th>
            <th></th>
            <th>player 1</th>
            <th></th>
            <td></td>
            <th></th>
            <th>player 2</th>
            <th></th>
            <th id="notes">notes</th>
        </tr>
        {% for match in matches %}
        <tr>
            <td>{{ match.date }}</td>

            {% if match.elochange1 > 0 %}
                <td class="pos">+{{ match.elochange1|round(1) }}</td>
            {% else %}
                <td class="neg">{{ match.elochange1|round(1) }}</td>
            {% endif %}
            <td>{{ match.player1 }}</td>
            <td>{{ match.score1 }}</td>
            <td>-</td>
            <td>{{ match.score2 }}</td>
            <td>{{ match.player2 }}</td>
            {% if match.elochange2 > 0 %}
                <td class="pos">+{{ match.elochange2|round(1) }}</td>
            {% else %}
                <td class="neg">{{ match.elochange2|round(1) }}</td>
            {% endif %}

            <td>{{match.notes}}</td>
        </tr>
        {% endfor %}
    </table>
{% endmacro %}