{% extends 'base.html' %}

{% block content %}
    <div class="form">
        <h2>add match</h2>
        <form action="/input/match" method="post">
            <div>
                <label for="player1">player 1: </label>
                <select id="player1" name="player1" required>
                    <option hidden disabled selected value> -- select an option -- </option>
                    {% for name in names %}
                        <option>{{ name }}</option>
                    {% endfor %}
                </select>
                
                <label for="p1score">score: </label>
                <input type="number" min="0" max = {{ max_score }} id="p1score" name="score1" required>
            </div>

            <div>
                <label for="player2">player 2: </label>
                <select id="player2" name="player2" required>
                    <option hidden disabled selected value> -- select an option -- </option>
                    {% for name in names %}
                        <option>{{ name }}</option>
                    {% endfor %}
                </select>
        
                <label for="p2score">score: </label>
                <input type="number" min="0" max={{ max_score }} id="p2score" name="score2" required>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="form">
        <h2>add players</h2>
        <form action="/input/player" method="post">
            <label for="name">name: </label>
            <input type="text" maxlength="50" id="name" name="name" placeholder="player name" required>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}